<section class="w-full flex flex-col">
    <h2 class="my-8">{{ titleMidia | translate }}</h2>

    <div class="caltalog">
        <div class="caltalog-item">
            <div class="caltalog-cover" [class.caltalog-channel]="typeMidia === typeMidiaEnum.CHANNEL"
                [routerLink]="['/catalog', typeMidia]">

                <h3 class="font-bold text-center">{{ "SHOW_ALL" | translate }}</h3>
            </div>
        </div>

        @for(item of midia; track item){
        <div class="caltalog-item">
            <div class="caltalog-cover flex-col" [class.caltalog-channel]="typeMidia === typeMidiaEnum.CHANNEL"
                [routerLink]="['/details', typeMidia]">

                <img [src]="item.logo" (error)="_midiaService.handleImageError($event)">
            </div>

            <h4 class="mt-2">{{ item.name }}</h4>
        </div>
        }
    </div>
</section>