<header class="w-screen px-4 flex justify-between">
    <nav class="h-[64px] flex justify-end items-center">
        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'CONTINUE_WACTHING' | translate }} </p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'FAVORITES' | translate }} </p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'CHANNEL' | translate }} </p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'MOVIES' | translate }} </p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'SERIES' | translate }} </p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>{{ 'SEARCH' | translate }} </p>
        </button>
    </nav>

    <nav class="h-[64px] flex justify-end items-center">
        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>Charles Santos</p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>Recarregar</p>
        </button>

        <button [routerLink]="['/routePath']" routerLinkActive="router-link-active">
            <p>Definições</p>
        </button>
    </nav>
</header>