<section class="h-screen flex w-full items-start relative px-8">
    <ipx-menu-main></ipx-menu-main>

    <div class="flex flex-col justify-center items-center p-8 pt-10  gap-8 pl-[280px]">       
        <div class="flex w-[1280px]">
            <div class="flex flex-col gap-8">
                <h3>{{ 'SETTINGS' | translate }}</h3>
                
                <ipx-menu-settings [menuSettingsSelected]="menuSettingsSelected"
                (menuSettingsOutput)="menuSettingsOutput($event)"></ipx-menu-settings>
            </div>
            
            @if (menuSettingsSelected === menuSettingsEnum.USER) {
                <ipx-user-settings></ipx-user-settings>
            }
            @if (menuSettingsSelected === menuSettingsEnum.LANGUAGE) {
                <ipx-language-settings></ipx-language-settings>
            }
        </div>
    </div>
</section>