.bg {
    &-base {
        background-color: var(--color-base);
    }

    &-element {
        background-color: var(--color-element);
    }

    &-primary {
        background-color: var(--color-primary);
    }

}