.btn {
    &-primary {
        min-width: 140px;
        height: 48px;
        border-radius: 20px;
        padding: 0 1rem;
        background-color: var(--color-bg-hover);
        font-weight: 900;

        &:hover {
            opacity: .9;
        }
    }

    &-secondary {
        min-width: 140px;
        height: 48px;
        padding: 0 2rem;
        background-color: var(--color-bg-element);
        border-radius: 20px;
        font-weight: 300;

        &:hover {
            opacity: .9;
        }
    }

    &-tertiary {
        width: fit-content;
        height: 42px;
        background-color: var(--color-bg-base);
        border-radius: 20px;
        font-weight: 300;
        padding: 0 1rem;

        &:hover {
            background-color: var(--color-bg-hover);
            opacity: 1;
        }
    }

    &-circle {
        width: auto;
        height: auto;
        background-color: var(--color-bg-base);
        border-radius: 50%;
        border: 3px solid var(--color-bg-base);

        &:hover {
            border-color: var(--color-bg-hover);
            opacity: 1;
        }
    }
}