button {
    height: 48px;
    border-radius: 0.75rem;
    padding: 0 1rem;
    background-color: var(--color-bg-hover);
    font-weight: 900;

    &:hover {
        opacity: .9;
    }
}

.btn {
    &-secondary {
        width: fit-content;
        height: 42px;
        padding: 0 2rem;
        background-color: var(--color-bg-element);
        border-radius: 20px;
        font-weight: 300;
    }

    &:hover {
        opacity: .9;
    }
}