button {
    cursor: pointer;
    height: var(--element);
    background-color: var(--color-bg-element);
    border-radius: var(--radius);
    border: var(--border) solid var(--color-bg-input);
    padding: 0 1.5rem;
    font-weight: 500;

    &:hover {
        border-color: var(--color-primary);
    }

    &:active {
        background-color: var(--color-primary);
    }
}

.btn {
    &-icon {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: var(--color-bg-base);
        border: none;

        &:hover,
        &:active {
            background-color: var(--color-primary);
        }
    }
}