.cover {
    width: 260px;
    min-width: 260px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-element);
    border-radius: 6px;

    img {
        border-radius: 6px;
        opacity: .8;
    }

    &:hover {
        border: 3px solid var(--color-bg-hover);
    }
}