input {
    cursor: pointer;
    height: var(--element);
    padding: 0 1rem;
    background-color: var(--color-bg-input);
    border: var(--border) solid var(--color-bg-input);

    &:hover,
    &:active {
        border-color: var(--color-primary);
    }
}

.input {
    &-top {
        border-radius: var(--radius) var(--radius) 0 0;
        margin-bottom: 0.24rem;
    }

    &-bottom {
        border-radius: 0 0 var(--radius) var(--radius);
    }
}