<section class="mb-8">
    <div>
        <p class="text-[300px]"><span class="text-[300px]">i</span>Plex</p>
    </div>

    <ipx-menu-films [typeMidia]="typeMidiaEnum.CONTINUE_WACTHING"></ipx-menu-films>

    <ipx-menu-films [typeMidia]="typeMidiaEnum.FAVORITE"></ipx-menu-films>

    <ipx-menu-films [typeMidia]="typeMidiaEnum.CHANNEL"></ipx-menu-films>

    <ipx-menu-films [typeMidia]="typeMidiaEnum.MOVIE"></ipx-menu-films>

    <ipx-menu-films [typeMidia]="typeMidiaEnum.SERIE"></ipx-menu-films>
</section>