<ipx-header></ipx-header>

<section class="mb-8">
    <img class="my-14 ml-8" src="../../../assets/images/logo.png">

    <ipx-last-midia [midia]="listMovies" [typeMidia]="typeMidiaEnum.CONTINUE_WACTHING"></ipx-last-midia>

    <ipx-last-midia [midia]="listMovies" [typeMidia]="typeMidiaEnum.FAVORITE"></ipx-last-midia>

    <ipx-last-midia [midia]="listChannels" [typeMidia]="typeMidiaEnum.CHANNEL"></ipx-last-midia>

    <ipx-last-midia [midia]="listMovies" [typeMidia]="typeMidiaEnum.MOVIE"></ipx-last-midia>

    <ipx-last-midia [midia]="listSeries" [typeMidia]="typeMidiaEnum.SERIE"></ipx-last-midia>
</section>